.container {
    border-radius: 7px;
    max-width: 120rem;
    margin: 4rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
        border-radius: 0px !important;
    }

}
.content {
    display: flex;
    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}
.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 20%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $bp-medium) {
        border-radius: 0px !important;
    }

    @media only screen and (max-width: $bp-small) {
        border-radius: 0px !important;
    }

}
.view {
    color: white;
    background-image:linear-gradient(to right bottom, 
                                    rgba(white, 0.1),
                                    rgba(white, 0.1)),
                                    url(../img/star.jpg);
    background-position: fill;
    background-size: 103%;
    background-repeat: no-repeat;
    flex:1;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 1.4rem;
    //Test(
    // height: 60rem;

    @media only screen and (max-width: $bp-medium) {
        background-image: linear-gradient(to right bottom, var(--color-grey-dark-1), black) !important;
        border-radius: 0px !important;
    }

}
.profile {
    margin-top: 10rem;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}
.face {
    &__img {
        border-radius: 50%;
    }
    &__name {
        text-align: center;
    }
}
.description {
    margin-top: 5rem;
    height: 28rem;
    width: 60rem;
    background-color: rgba( var(--color-primary), 0.1);
    border-radius: 5px;
    box-shadow: var(--color-primary);

    &__desc {
        display: inline-block;
        text-align: center;
        text-transform: uppercase;

        @media only screen and (max-width: $bp-small) {
            text-align: center;
        }
    }
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
        border-radius: 0px !important;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
        border-radius: 0px !important;
    }
}
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-transform: uppercase;
    margin-top: 5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
        border-radius: 0px !important;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
        border-radius: 0px !important;
    }
}