:root {
  --color-primary:rgb(0, 204, 160);
  --color-primary-light:rgb(0, 255, 200);
  --color-primary-dark:rgb(0, 133, 104);
  --color-grey-light:#777;
  --color-grey-light-1:#f7f7f7;
  --color-grey-light-2:#ccc;
  --color-grey-dark-1:#333;
  --shadow-dark:0 2rem 6rem rgba($color: #000000, $alpha: 0.3); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  text-align: center;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Oxanium', cursive;
  color: var(--color-grey-light);
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

.active {
  background-color: var(--color-primary);
  color: black !important; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin: 0; } }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin: 0; } }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0.13, 0.01, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary-light); }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: column;
        padding: 1.5rem .5rem; } }
  .side-nav__link:hover {
    color: black;
    transition: color .5s; }
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }
    @media only screen and (max-width: 37.5em) {
      .side-nav__icon {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem; } }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: --color-grey-light-2; }
  @media only screen and (max-width: 56.25em) {
    .legal {
      display: none; } }

.projects-list {
  font-size: 1.5rem;
  list-style: none;
  color: var(--color-primary); }
  .projects-list__item {
    position: relative; }
    .projects-list__item:not(:last-child) {
      margin-bottom: .5rem; }
  .projects-list__span {
    color: var(--color-primary-light);
    font-weight: bold; }

.projects-item-list {
  list-style: circle inline; }
  .projects-item-list__item {
    position: relative;
    margin-left: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .projects-item-list__item {
        margin: 0px; } }
    .projects-item-list__item:not(:last-child) {
      margin-bottom: .5rem; }
    .projects-item-list__item :last-child {
      margin-bottom: 2rem; }
  .projects-item-list__link {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: flex; }
  .projects-item-list__link:hover {
    color: var(--color-primary-light); }
  .projects-item-list__link:visited {
    color: hotpink; }

.container {
  border-radius: 7px;
  max-width: 120rem;
  margin: 4rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%;
      border-radius: 0px !important; } }

.content {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 20%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      border-radius: 0px !important; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      border-radius: 0px !important; } }

.view {
  color: white;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/star.jpg);
  background-position: fill;
  background-size: 103%;
  background-repeat: no-repeat;
  flex: 1;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .view {
      background-image: linear-gradient(to right bottom, var(--color-grey-dark-1), black) !important;
      border-radius: 0px !important; } }

.profile {
  margin-top: 10rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }
  @media only screen and (max-width: 56.25em) {
    .profile {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .profile {
      flex-direction: column; } }

.face__img {
  border-radius: 50%; }

.face__name {
  text-align: center; }

.description {
  margin-top: 5rem;
  height: 28rem;
  width: 60rem;
  background-color: rgba(var(--color-primary), 0.1);
  border-radius: 5px;
  box-shadow: var(--color-primary); }
  .description__desc {
    display: inline-block;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .description__desc {
        text-align: center; } }
  @media only screen and (max-width: 56.25em) {
    .description {
      padding: 2rem;
      margin-right: 3rem;
      border-radius: 0px !important; } }
  @media only screen and (max-width: 37.5em) {
    .description {
      margin-right: 0;
      margin-bottom: 3rem;
      border-radius: 0px !important; } }

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  margin-top: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      padding: 2rem;
      margin-right: 3rem;
      border-radius: 0px !important; } }
  @media only screen and (max-width: 37.5em) {
    .projects {
      margin-right: 0;
      margin-bottom: 3rem;
      border-radius: 0px !important; } }
